.brands {
  padding-top: 24px;
  padding-bottom: 24px;
}

.brands__list {
  display: flex;
  //-ms-flex-wrap: wrap;
  //flex-wrap: wrap;
  //-webkit-box-align: start;
  //-ms-flex-align: start;
  //align-items: flex-start;

  margin-top: 0;
  margin-bottom: -24px;
  padding: 0;

  list-style: none;
}

.brands__item {
  margin-right: 40px;
  margin-bottom: 24px;
  width: 260px;
}

.brands__scrollbar {
  margin-top: 20px;
  height: 2px;
  background-color: #ffc600;
}

.brands__scrollbar .swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 1);
}

.brands__logo {
  display: block;

  width: 260px;
  height: 100px;

  overflow: hidden;
  outline: none;
}

.brands__logo-image {
  display: block;
  max-width: 100%;
  height: auto;

  opacity: 0.2;

  -webkit-transition: opacity ease-in-out 0.1s;
  -o-transition: opacity ease-in-out 0.1s;
  transition: opacity ease-in-out 0.1s;
}

.brands__logo:hover .brands__logo-image,
.brands__logo:focus .brands__logo-image {
  margin-top: -100px;

  opacity: 1;
}
