.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding-right: 60px;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -21px;

  display: block;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 4px 7px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  text-decoration: none;
  color: #000000;

  opacity: 0.3;
}

.breadcrumbs__link[href] {
  cursor: pointer;
}

.breadcrumbs__link[href]:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link[href]:active {
  opacity: 0.1;
  outline: none;
}

#breadcrumb {
  color: black;
  opacity: 1;
}