.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 320px;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.page__main {
  flex-grow: 1;
}

.page__header,
.page__main,
.page__footer {
  flex-shrink: 0;
}
