.product-wrapper {
  position: relative;
  display: flex;
  //justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 50px;
  padding: 100px 0;
  width: 1250px;
  //height: 650px;
  //min-height: 600px;
  //background-color: #efefef;

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 75px;
    width: 1160px;
    height: 88%;
    background-color: #efefef;
    z-index: -1;
  }
}

.product-card__breadcrumbs {
  margin: 0 auto;
  width: 1150px;
  padding-top: 44px;
  padding-bottom: 0;
}

.product__gallery {
  box-shadow: 0 0 15px 0 rgba(black, 0.5);
}

.product__gallery.swiper-container {
  margin: 0;
}

.product__slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product__info {
  padding: 0 50px 0 75px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  min-height: 650px;
}

.product__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 500px;
  //flex-direction: column;
}

.product__title {
  display: block;
  margin: 25px 0 0;
  padding: 0;
  width: 100%;
  color: black;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
}

.product__art {
  display: block;
  margin:  0;
  padding: 0;
}

.product__price {
  font-size: 37px;
  line-height: 46px;
  font-weight: 700;
  color: black;
}

.product__price .product__currency {
  text-transform: none;
}

.main-buy-btn {
  font-size: 35px;
  font-weight: 900;
  border: none;
}

.main-buy-btn:active,
.main-buy-btn:focus {
  background-color: #f0c52e;
}

.product__brns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
}

.product__brn {
  max-width: 180px;
  min-width: 160px;
}

.product__review {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: #f0c52e;
  }
}

.product__review-wrapper {
  width: 100%;
}

.product__description {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  //width: 500px;
  //margin-left: auto;
  margin-right: 50px;
  padding: 40px 15px 0 115px;
}

.product__description.show {
  display: flex;
}

.product__description-title {
  display: block;
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.product__description-text {
  width: 50%;
  display: block;
  margin: 0 0 15px;
  padding: 0;
}

.product__gallery-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.product__slider-small {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.product__gallery-small {
  padding-top: 10px;
  width: 360px;
  // margin-left: 100px;
}

.product__slide-small.swiper-slide {
  width: 100px !important;
  height: 100px;
  cursor: pointer;
  border: 3px solid transparent;

    &:hover {
      border: 3px solid  #f0c52e;
    }
}

.product__rating {
  margin-left: auto;
}

.product-article-reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
.product-article-reviews .art-title {
  font-family: 'Open-sans';
  margin-left: 15px;
  font-size: 15px;
  line-height: 30px;
  position: relative;
  padding: 0px;
  margin: 0px; }
.product-article-reviews #product-article {
  font-family: 'Open-sans';
  margin-left: 15px;
  font-size: 15px;
  line-height: 30px;
  position: relative;
  margin: 0px; }
.product-article-reviews #feedback {
  text-decoration: underline;
  color: blue; }

#zoom {
  text-decoration: underline;
  color: blue;
  padding: 10px; }

#zoom:before {
  color: black;
  font-size: 15px;
  content: "\002315"; }

.product-img-slider {
  display: flex;
  margin-top: 20px; }
.product-img-slider div:not(:first-child) {
  margin-left: 10px; }
.product-img-slider div:first-child {
  border: 1px solid orange; }

.slide-img {
  border: 1px solid black;
  width: 100px;
  height: 100px; }

.info-btn-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-around; }
.info-btn-container .info-btn {
  width: 160px;
  height: 40px;
  border: none;
  position: relative;
  z-index: 1;
  border-radius: 2px; }
.info-btn-container .info-btn:before {
  content: "";
  height: 8px;
  width: 100%;
  position: absolute;
  background-color: #f0c52e;
  font-weight: 900;
  top: 16px;
  left: 0;
  z-index: -1; }
.info-btn-container .info-btn:hover:before, .info-btn-container .info-btn:focus:before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  background-color: #f0c52e;
  top: 0px;
  left: 0;
  z-index: -1;
  -webkit-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s; }

.order-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: white;
  padding: 20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.order-container .inner-order-content {
  width: 300px;
  display: flex;
  align-items: baseline;
  justify-content: center; }
.order-container .inner-order-content .price-title {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 25px; }
.order-container .inner-order-content .product-card-price {
  font-size: 30px;
  font-family: "Open Sans"; }
.order-container .inner-order-content .product-card-price:after {
  content: "$"; }
.order-container .main-buy-btn {
  font-size: 35px;
  font-weight: 900;
  border: none;
  background-color: white; }
.order-container .main-buy-btn:active, .order-container .main-buy-btn:focus {
  background-color: #f0c52e; }
.order-container .compare, .order-container .favorite {
  margin-top: 20px;
  font-size: 15px;
  font-family: "Open Sans";
  padding: 5px; }
.order-container .compare:before {
  content: "⚖"; }
.order-container .favorite:before {
  content: "❤"; }
.order-container .delivery-info p {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 900; }
.order-container .compare:hover, .order-container .favorite:hover {
  background-color: #f0c52e; }

.hide {
  display: none; }

.comment-popup {
  position: fixed;
  top: 50%;
  margin-top: -278px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  box-sizing: border-box;
  padding: 75px 100px;
  box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  z-index: 100; }

#trash {
  position: relative; }
#trash .trash-list {
  position: absolute;
  display: none;
  transform: inherit; }
#trash .trash-list .trash-list-item {
  margin-top: 5px;
  width: 120px; }

#trash:hover .trash-list {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ececec;
  border-top: 5px solid #f0c52e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 6px; }

/*-----------------------------------------------------------------------------------*/
.order-popup {
  position: fixed;
  top: 50%;
  margin-top: -278px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  box-sizing: border-box;
  padding: 75px 100px;
  box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column; }

.order-form {
  display: flex;
  flex-wrap: wrap; }
.order-form .productitem-in-trash {
  display: flex;
  margin: 20px 0px;
  align-items: flex-start;
  justify-content: space-between; }
.order-form .productitem-in-trash .product-name {
  margin-left: 20px;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Gilroy';
  font-weight: 800; }
.order-form .productitem-in-trash .amount-of-produts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 15px; }
.order-form .productitem-in-trash .amount-of-produts .amount {
  line-height: 24px;
  font-size: 18px;
  font-family: 'Gilroy';
  font-weight: 400; }
.order-form .productitem-in-trash .amount-of-produts .btnPlus, .order-form .productitem-in-trash .amount-of-produts .btnMinus {
  justify-content: center;
  align-items: center;
  border: none;
  width: 22px;
  height: 22px;
  background-color: #f0c52e;
  margin: 0px 10px 0px 10px; }
.order-form .productitem-in-trash .amount-of-produts .amount {
  margin-right: 10px; }
.order-form .productitem-in-trash .amount-of-produts .product-price:after {
  content: "$"; }

.finalPrice-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  margin-left: 20px;
  line-height: 24px;
  font-size: 28px;
  font-family: 'Gilroy';
  font-weight: 800;
  margin: 20px 0px; }
.finalPrice-container div > .finalPrice:after {
  content: "$"; }
.finalPrice-container .confirm-order-btn {
  margin-left: 20px; }

