.range {
  position: relative;
  z-index: 0;

  height: 2px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.range::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #dbdbdb;
}

.range__selected {
  width: 113px;
  height: 100%;
  margin-right: 4px;
  margin-left: 4px;

  background-color: #91c92f;
}

.range__slider {
  position: absolute;
  top: 7px;

  display: block;
  width: 22px;
  height: 25px;
  margin: 0;
  padding: 0;

  background: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 20px 23px;
  border: none;
  cursor: pointer;
}

.range__slider:focus {
  outline: none;
}

.range__slider:active {
  background-position: 0 0;
  background-size: 22px 25px;
  outline: none;
}

.range__slider--min {
  left: -7px;
}

.range__slider--max {
  left: 106px;
}

.range__label {
  position: absolute;
  top: 22px;

  display: block;
  width: auto;
  padding: 0 5px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;

  cursor: default;
  opacity: 0.2;
}

.range__slider:focus .range__label {
  opacity: 0.6;
}

.range__label--min {
  left: 0;
}

.range__label--max {
  left: -22px;
}
