.reviews {
  width: 100%;
  max-width: 1070px;
  margin: 40px auto 0;
  padding: 0 0 30px;
  //background-color: #efefef;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 70px 0 100px 70px;
  max-width: 1000px;
}

.reviews__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.reviews__author {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  max-width: 70%;
}

.reviews__publication {
  display: block;
  margin: 0;
  padding: 0;
  font-style: italic;
  max-width: 30%;
}

.review__content {
  padding-left: 30px;
}

.review__content blockquote {
  display: block;
  margin: 0;
  padding: 0;
}

.reviews__item {
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 80px;
    height: 7px;

    background-color: #ffc600;
  }

}
